
/*头部部分*/
.header{
    width:100%;
    height:72px;
    background:#F4F4F4;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header:after{
    clear: both;
}
.body{
    width:1200px;
    height:100%;
    margin:0 auto;
    overflow: hidden;
    /*background: blue;*/
}
.logo{
    margin-top: 15px;
    float: left;
}
.nav{
    height:100%;
    float: left;
    margin-left:172px;
    /*background: #000;*/
}
.nav li{
    /*font-family: Microsoft YaHei;*/
    font-size:16px;
    float:left;
    margin:28px 32px 28px 32px;
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.nav li a:hover{
    cursor: pointer;
    color:#1B88ED;
}
.active{
    color:#1B88ED;
}
.header_right{
    margin-top:20px;
    float:right;
    font-size: 11px;
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.reg{
    margin-right: 12px;
}
.reg,.login{
    width:85px;
    height:32px;
    float:left;
    border:1px solid #999;
    border-radius: 40px;
    box-sizing: border-box;
    background: #1b88ed;
}
.login{
    background: #fff;
}
.reg a,.login a{
    padding-left:20px;
    line-height: 30px;
}
.reg a{
    color:#fff;
}
.header_right .reg:hover {
    background: #2295ff;
    /*border:#1B88ED;*/
    color: #fff;
}
.header_right .login:hover{
    border: 1px solid #1b88ed;
}

.header_right .reg:hover a{
    color:#fff;
}
.header_right .login:hover a{
    color: #1b88ed;
}

/*banner*/
.aboutus{
    width:100%;
    overflow: hidden;
}
.banner_about{
    width:100%;
    height:400px;
    margin-top: 72px;
}
.banner_about img{
    width:100%;
    height: 100%;
}
/*关于我们*/
.about_main,.pinpai_main,.develope_main,.culture_main,.partner_main{
    width:1200px;
    margin:0 auto;
    padding-top: 1px;
    /*border-bottom: 1px solid #ccc;*/
}
.develope_main .about_title{
    width:400px;
    color:#fff;
    border-bottom:0;
}
.about_title{
    /*width:346px;*/
    margin:0 auto;
    margin-top: 56px;
    border-bottom: 1px solid #ccc;
}
.about1{
    margin-left:0;
}
.about_title h3{
    float:left;
    font-size: 30px;
    font-weight: 100;
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.about_title span{
    line-height:52px;
    line-height:52px \9;
    font-size: 20px;
    padding-left: 20px;
    font-family: MicrosoftYaHeUI;
}
.about_main li:nth-child(1){
    /*border: 1px solid red;*/
    width:490px;
    float: left;
    clear:both;
    font-size: 14px;
}
.about_main li:nth-child(2){
    /*border: 1px solid red;*/
    width: 652px;
    float:left;
    margin-left:54px;
    font-size: 16px;
}
.about_main .about_img{
    width:490px;
    float: left;
    clear:both;
    font-size: 14px;
}
.about_main .about_text{
    width: 652px;
    float:left;
    margin-left:54px;
    font-size: 14px;
}
.about_text p{
    margin-bottom: 44px;
    line-height: 24px;
}
/*品牌故事*/
.pinpai_main p{
    font-size: 16px;
    margin-bottom: 44px;
    line-height: 24px;
    margin-top: 36px;
}
/*发展历程*/
.develope{
    width: 100%;
    height: 520px;
    background-image: url(../img/fazhanglicheneg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.develope_xian{
    width:1036px;
    border-bottom: 2px solid #A29CA5;
    height:1px;
    margin:0 auto;
    margin-top:138px;
}
.step{
    width:192px;
    height:170px;
    /*border:1px solid #fff;*/
    float:left;
    margin-left:106px;
    margin-top:-85px;
    position: relative;
    /*animation: deveStep 2s ;*/
}
.step1{
    margin-left:60px;
}
.step_text{
    width:100%;
    height:50px;
    border-radius: 4px;
    background: #FD5300;
    color:#fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    position: absolute;
    /*display: none;*/
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.angle{
    width: 0;
    height: 0;
    border-top: 10px solid #FD5300;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    margin-left: 84px;
    position: absolute;
    top: 50px;
}
.step_yuan{
    width:14px;
    height:14px;
    background: #FD5300;
    border-radius: 50%;
    margin-left: 89px;
    margin-top: 17px;
    position: absolute;
    top: 60px;
}
.step p{
    color:#fff;
    text-align: center;
    position: absolute;
    top: 92px;
    left: 64px;
}
.step3 .step_text,.step3 .step_yuan{
    background: #EBBC00;
}
.step3 .step_yuan{
    width: 24px;
    height: 24px;
    margin-left: 84px;
    margin-top: 11px;
}
.step3 .angle{
    border-top: 10px solid #EBBC00;
}
.step2 .step_text{
    background: #00DBD7;
    top:120px;
}
.step2 .step_yuan{
    width:20px;
    height:20px;
    background:#00DBD7;
    /*margin-top:36px;*/
    margin-left: 86px;
    top:57px;
}
.step2 p{
    top:20px;
}
.step2 .angle{
    /*margin-top:15px;*/
    border-top: 0;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #00DBD7;
    border-left: 12px solid transparent;
    top:108px;
}

.step4 .step_text{
    background: #00BAFF;
}
.step4 .step_yuan{
    width: 28px;
    height: 28px;
    background: #00BAFF;
    /*margin-top: 32px;*/
    top:53px;
    margin-left: 82px;
}
.step4 .angle{
    border-bottom: 12px solid #00BAFF;
}
@keyframes deveStep {
    0%{
        display:none;
        top:260px;
    }
    100%{
        display: block;
        top:120px;
    }
}
@keyframes angleStep {
    0%{
        display:none;
        top:248px;
    }
    100%{
        display: block;
        top:108px;
    }
}
@keyframes deveStep1 {
    0%{
        display:none;
        top:-120px;
    }
    100%{
        display: block;
        top:0;
    }
}
@keyframes angleStep1 {
    0%{
        display:none;
        top:-70px;
    }
    100%{
        display: block;
        top:50px;
    }
}
.step:hover{
    cursor: pointer;
}
.develope_main{
    border:0;
}
/*企业文化*/
.culture{
    width:100%;
    height:398px;
    margin-top:80px;
}
.culture .about_title{
    /*width: 350px;*/
}
.culture_main li{
    width:25%;
    /*border:1px solid red;*/
    box-sizing: border-box;
    float:left;
    text-align: center;
    margin-top:42px;
}
.culture_xian{
    width:40px;
    height:0;
    border-bottom: 2px solid #218BED;
    margin:0 auto;
    margin-top:-12px;
}
.text_top{
    font-size: 20px;
}
.text_bottom{
    font-size: 14px;
}
.culturePic{
    position: relative;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.culturePic:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);

}
/*合作伙伴*/
.partner{
    width:100%;
    height:398px;
    margin-top: 100px;
}

.partner .about_title{
    /*width: 350px;*/
}

.partner_main li{
    width:20%;
    /*border:1px solid red;*/
    box-sizing: border-box;
    float:left;
    text-align:left;
    margin-top:42px;
    margin-right: 80px;
}

/*footer开始*/
.footer{
    width:100%;
    height:142px;
    background-color:#162635;
    padding-top:1px;
    position: relative;
    /*overflow: hidden;*/
}
.zhuangshi{
    width:1200px;
    height:94px;
    position: absolute;
    left: 0;
    right:0;
    bottom:104px;
    margin:auto;
}
.zhuangshi span{
    padding:0;
}
.zhuangshi .zs1{
    position: absolute;
    left: -16px;
    bottom: 33px;
}
.zhuangshi .zs2{
    position: absolute;
    left:86px;
    bottom: 26px;
}
.zhuangshi .zs3{
    position: absolute;
    left:246px;
    bottom: 26px;
}
.zhuangshi .zs4{
    position: absolute;
    left:464px;
    bottom: 22px;
}
.zhuangshi .returnTop{
    position: absolute;
    left:580px;
    bottom: -6px;
    animation: qiqiu 3s infinite;
    -webkit-animation: qiqiu 3s infinite;
    -ms-animation:qiqiu 3s infinite;
}
@keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-webkit-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-ms-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
.returnTop:hover{
    cursor:pointer;
}
.zhuangshi .zs5{
    position: absolute;
    left:710px;
    bottom: 26px;
}
.zhuangshi .zs6{
    position: absolute;
    left:850px;
    bottom: 33px;
}
.zhuangshi .zs7{
    position: absolute;
    left:970px;
    bottom: 28px;
}
.zhuangshi .zs8{
    position: absolute;
    left:1060px;
    bottom:66px;
}
.zhuangshi .zs9{
    position: absolute;
    right:-6px;
    bottom: 33px;
}
.zhuangshi .zs10{
    position: absolute;
    right: 66px;
    bottom: 66px;
}
.rexian{
    width:756px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    font-size: 14px;
    margin-top:54px;
    position: relative;
}
.beian{
    color: #3A668F;
}
.rexian a{
    color:#fff;
}
.rexian span{
    display:inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.weixinPic .weixinerweima{
    position: absolute;
    bottom: 56px;
    right: 88px;
    display:none;
}
