
/*头部部分*/
.header{
    width:100%;
    height:72px;
    background:#F4F4F4;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header:after{
    clear: both;
}
.body{
    width:1200px;
    height:100%;
    margin:0 auto;
    overflow: hidden;
    /*background: blue;*/
}
.logo{
    margin-top: 15px;
    float: left;
}
.nav{
    height:100%;
    float: left;
    margin-left:172px;
    /*background: #000;*/
}
.nav li{
    /*font-family: Microsoft YaHei;*/
    font-size:16px;
    float:left;
    margin:28px 32px 28px 32px;
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.nav li a:hover{
    cursor: pointer;
    color:#1B88ED;
}
.active{
    color:#1B88ED;
}
.header_right{
    margin-top:20px;
    float:right;
    font-size: 11px;
    font-family: "微软雅黑", "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.reg{
    margin-right: 12px;
}
.reg,.login{
    width:85px;
    height:32px;
    float:left;
    border:1px solid #999;
    border-radius: 40px;
    box-sizing: border-box;
    background: #1b88ed;
}
.login{
    background: #fff;
}
.reg a,.login a{
    padding-left:20px;
    line-height: 30px;
}
.reg a{
    color:#fff;
}
.header_right .reg:hover {
    background: #2295ff;
    /*border:#1B88ED;*/
    color: #fff;
}
.header_right .login:hover{
    border: 1px solid #1b88ed;
}

.header_right .reg:hover a{
    color:#fff;
}
.header_right .login:hover a{
    color: #1b88ed;
}
/*header结束*/
.dingzhi_banner{
    width:100%;
    height:272px;
    background: url("../img/dingzhi_banner.jpg") center center;
    margin-top: 72px;
}
.dingzhi_main{
    width:1200px;
    margin:0 auto;
    text-align: center;
    overflow: hidden;
}
.sirendingzhi{
    margin-top:72px;
}
.dingzhi_text{
    color:#fff;
    font-size: 28px;
    animation: srdz_text 0.6s 1.2s ;
 }
.dongtai_si{
    animation: si .6s .2s 1;
 }

.dongtai_ren{
    animation: ren .6s .8s 1;
}
.dongtai_ding{
    animation:ding .6s .8s 1;
}
.dongtai_zhi{
    animation:zhi .6s .2s 1;
}
@keyframes srdz_text {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.2,1.2);
    }
}
@keyframes si {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes ren {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes ding {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes zhi {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*解决方案部分*/
.jiejue{
    width:100%;
}
.jiejue_main{
    width:1200px;
    margin:0 auto;
    text-align: center;
    font-size: 18px;
}
.part0{
    margin-top:86px;
    margin-bottom: 56px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    perspective: 800px;
}
.part0 img:nth-child(1){
    margin-bottom:98px;
}
.part0 p{
    text-align: left;
    color: #333;
    padding: 0px 24px;
    padding-top:24px;
}
.zhuji{
    position: absolute;
    top: 507px;
    left: 74px;
}
.xianshi{
    position: relative;
    z-index: 999;
}
.shaoma{
    position: absolute;
    top: 458px;
    right: 408px;
}
.shexiang{
    position: absolute;
    top: 372px;
    right: 260px;
    animation: shexiang 3s infinite alternate;
}
@keyframes shexiang {
    0%{
        transform: scale(1.2,1.2) rotateY(0deg);

    }
    100%{
        transform: scale(1,1) rotateY(20deg);
    }
}

.part1{
    height:436px;
    background: #F4F7F9;
}
.part1 div{
    float:left;
}
.part1_left{
    width:46.6%;
    position:relative;
}
.part1_right{
    width:53.4%;
    margin-top:178px;
}
.part1_right h3{
    float:left;
    font-size: 22px;
    color:#3E4325;
}
.part1_right p{
    float: left;
    text-align: left;
    font-size: 16px;
    color:#3E4325;
    padding-right: 50px;
}
.part1_left img{
    float: left;
    padding-left: 80px;
    padding-top: 120px;
}

.part2{
    height:420px;
    overflow: hidden;
}
.part2 div{
    float:left;
}
.part2_left{
    width:53.4%;
    margin-top: 142px;
}
.part2_right{
    width:46.6%;
    position: relative;
}
.part2_left h3{
    float:left;
    font-size: 22px;
    color:#3E4325;
}
.part2_left p{
    float: left;
    text-align: left;
    font-size: 16px;
    color:#3E4325;
}
.part2_right img{
    padding-top:92px;
}
.buy{
    margin-top: -86px;
    margin-bottom: 98px;
}
.buy div{
    width:82px;
    height:82px;
    line-height: 82px;
    margin:0 auto;
    color:#fff;
    background: url("../img/buy.png") center center no-repeat;
}
.buy div:hover{
    color:purple;
    cursor: pointer;
}
.dingzhi_small{
    position: absolute;
}
.small1{
    left:140px;
    animation: small 1.8s 1s infinite alternate;
}
.small2{
    left: 92px;
    top: -44px;
    animation: small 1s 3s infinite alternate;
}
.small3{
    top: 14px;
    left: 10px;
    animation: small 1.2s 2s infinite alternate;
}
.small4{
    top: -12px;
    left: 309px;
    animation: small 1.6s 2s infinite alternate;
}
.small5{
    left: 96px;
    top: 26px;
    animation: small 1.8s 1s infinite alternate;
}
.small6{
    top: -60px;
    left: 162px;
    animation: small 1.6s 2s infinite alternate;
}
.small7{
    left: 432px;
    top: 36px;
    animation: small 1.2s 2s infinite alternate;
}
.small8{
    top: -48px;
    left: 290px;
    animation: small 1s 3s infinite alternate;
}
.small9{
    top: 140px;
    left: 264px;
    animation: small 1s 3s infinite alternate;
}
.small10{
    top: 128px;
    left: 174px;
    animation: small 1.2s 2s infinite alternate;
}
.small11{
    top: 18px;
    left: 12px;
    animation: small 1.6s 2s infinite alternate;
}
.small12{
    top: -28px;
    left: 102px;
    animation: small 1.6s 2s infinite alternate;
}
.small13{
    top: -28px;
    left: 138px;
    animation: small 1.6s 2s infinite alternate;
}
.small14{
    top: 118px;
    left: 400px;
    animation: small 1.6s 2s infinite alternate;
}
.small15{
    top: 18px;
    left: 388px;
    animation: small 1.2s 2s infinite alternate;
}
.small16{
    top: 118px;
    left: 154px;
    animation: small 1.2s 2s infinite alternate;
}
@keyframes small {
    0%{
        transform: scale(1, 1);

    }
    100%{
        transform: scale(1.2, 1.2);
    }
}

/*footer开始*/
.footer{
    width:100%;
    height:142px;
    background-color:#162635;
    padding-top:1px;
    position: relative;
    /*overflow: hidden;*/
}
.zhuangshi{
    width:1200px;
    height:94px;
    position: absolute;
    left: 0;
    right:0;
    bottom:104px;
    margin:auto;
}
.zhuangshi span{
    padding:0;
}
.zhuangshi .zs1{
    position: absolute;
    left: -16px;
    bottom: 33px;
}
.zhuangshi .zs2{
    position: absolute;
    left:86px;
    bottom: 26px;
}
.zhuangshi .zs3{
    position: absolute;
    left:246px;
    bottom: 26px;
}
.zhuangshi .zs4{
    position: absolute;
    left:464px;
    bottom: 22px;
}
.zhuangshi .returnTop{
    position: absolute;
    left:580px;
    bottom: -6px;
    animation: qiqiu 3s infinite;
    -webkit-animation: qiqiu 3s infinite;
    -ms-animation:qiqiu 3s infinite;
}
@keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-webkit-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-ms-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
.returnTop:hover{
    cursor:pointer;
}
.zhuangshi .zs5{
    position: absolute;
    left:710px;
    bottom: 26px;
}
.zhuangshi .zs6{
    position: absolute;
    left:850px;
    bottom: 33px;
}
.zhuangshi .zs7{
    position: absolute;
    left:970px;
    bottom: 28px;
}
.zhuangshi .zs8{
    position: absolute;
    left:1060px;
    bottom:66px;
}
.zhuangshi .zs9{
    position: absolute;
    right:-6px;
    bottom: 33px;
}
.zhuangshi .zs10{
    position: absolute;
    right: 66px;
    bottom: 66px;
}
.rexian{
    width:756px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    font-size: 14px;
    margin-top:54px;
    position: relative;
}
.beian{
    color: #3A668F;
}
.rexian a{
    color:#fff;
}
.rexian span{
    display:inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.weixinPic .weixinerweima{
    position: absolute;
    bottom: 56px;
    right: 88px;
    display:none;
}
