/*头部部分*/
.header{
    width:100%;
    height:72px;
    background:#F4F4F4;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header:after{
    clear: both;
}
.body{
    width:1200px;
    height:100%;
    margin:0 auto;
    overflow: hidden;
    /*background: blue;*/
}
.logo{
    margin-top: 15px;
    float: left;
}
.nav{
    height:100%;
    float: left;
    margin-left:172px;
    /*background: #000;*/
}
.nav li{
    /*font-family: Microsoft YaHei;*/
    font-size:16px;
    float:left;
    margin:28px 32px 28px 32px;
}
.nav li a:hover{
    cursor: pointer;
    color:#1B88ED;
}
.active{
    color:#1B88ED;
}
.header_right{
    margin-top:20px;
    float:right;
    font-size: 11px;

}
.reg{
    margin-right: 12px;
}
.reg,.login{
    width:85px;
    height:32px;
    float:left;
    border:1px solid #999;
    border-radius: 40px;
    box-sizing: border-box;
    background: #1b88ed;
}
.login{
    background: #fff;
}
.reg a,.login a{
    padding-left:20px;
    line-height: 30px;
}
.reg a{
    color:#fff;
}
.header_right .reg:hover {
    background: #2295ff;
    /*border:#1B88ED;*/
    color: #fff;
}
.header_right .login:hover{
    border: 1px solid #1b88ed;
}

.header_right .reg:hover a{
    color:#fff;
}
.header_right .login:hover a{
    color: #1b88ed;
}
/*banner开始*/
.banner{
    width:100%;
    height:560px;
    position: relative;
}
.banner img{
    width: 100%;
    height:100%;
}
.qieHuan{
    width:756px;
    height:470px;
    background: #EFF5FD;
    position: absolute;
    left:0;top:0;bottom:0;
    right:0;
    margin:auto;
    border-radius: 18px;
    /*box-shadow: 0px 15px 12px 0px #E8E8E8;*/
}
.bannerBox{
    overflow: hidden;
}
.bannerBox li{
    overflow: hidden;
}
.bannerBox .left{
    width:201px;
    height:418px;
    float: left;
    margin-left: 72px;
    margin-top: 26px;
}
.bannerBox .right{
    width:332px;
    height:418px;
    float:right;
    background: #fff;
    margin-top: 26px;
    margin-left: 82px;
}
.xian{
    height:1px;
    width:64px;
    background:#ACACAC;
    overflow:hidden;
    margin:0 auto;
    margin-top: 20px;
}
.xian:nth-child(3){
    margin-top:5px;
    height:2px;
}
.right h2{
    font-size: 24px;
    margin-top: 78px;
    text-align: center;
}
.right h3{
    font-size: 20px;
    margin-top:42px;
    text-align: center;
    color:#333333;
}
.right h4{
    font-size: 14px;
    margin-top:8px;
    text-align: center;
    color:#585656;
}
.more{
    width:152px;
    height:50px;
    border-radius: 6px;
    background: #54A6F2;
    margin:0 auto;
    margin-top:82px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    position: relative;
    z-index: 9999;
}
.more a{
    color:#fff;
}
.more:hover{
    background: #2473bb;
    cursor: pointer;
}
.leftbotn,.rightbotn{
    width: 12px;
    height: 16px;
    position:absolute;
    top:0;
    bottom: 0;
    margin:auto 0;
}
.leftbotn{
    left:18px;
}
.rightbotn{
    right:18px;
}
.banner_con{
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
}
.leftbotn,.rightbotn:hover{
    cursor: pointer;
}

/*banner结束*/
/*我是开始*/
.my{
    width:100%;
    height:320px;
    background: #fff;
}
.my ul{
    width:1200px;
    height:100%;
    overflow: hidden;
    margin:0 auto;
    position: relative;
}
.my li {
    float: left;
    width: 238px;
    height: 118px;
    /*background: #00B6DB;*/
    margin-top:100px;
    margin-left: 86px;
    margin-right: 64px;
    text-align: center;
    line-height: 118px;
    color: #fff;
    border-radius: 24px;
    box-shadow: 3px 10px 12px #9CDDEA;
    position: absolute;
    transition: all 0.1s;

}
.my li a{
    color:#fff;
    font-weight: bold;
    font-size: 22px;
}

.my li:hover{
    cursor: pointer;
}
/*.my li:hover a{*/
    /*color:#00eaff;*/
/*}*/
.my li:nth-child(2){
    background: #F97653;
    box-shadow: 3px 10px 12px #F8BAAA;
    left:32%;
}
.my li:nth-child(3){
    background: #5DACF6;
    box-shadow: 3px 10px 12px #C3E2FF;
    left:63.8%;
}
#bg1{
    background: url("../img/bg1.png") center center no-repeat;
}
#bg1:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
}
#bg2:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
}
#bg3:hover {
    transform: scale(1.08,1.08);
    -webkit-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
}
#bg2{
    background: url("../img/bg2.png") center center no-repeat;
}
#bg3{
    background: url("../img/bg3.png") center center no-repeat;
}


/*建筑开始*/
.jz,.jz2,.jz3{
    width:100%;
    height:528px;
    overflow: hidden;
    background-image: url("../img/jz1.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 72px;
}
.jz2{
    background: url("../img/jz2.png");
    background-repeat: no-repeat;
    background-position: center;
}
.jz3{
    background: url("../img/jz3.png");
    background-repeat: no-repeat;
    background-position: center;
}
.jz .title{
    text-align: center;
    margin-top: 82px;
    font-size: 36px;
    color:#00EAFF;
}
.jz p{
    text-align: center;
    /*margin-top: 82px;*/
    font-size: 20px;
    color:#FFF;
    margin-top:14px;
}
.jz2_main{
     width:1200px;
     height:100%;
     margin:0 auto;
 }
.jz3_main{
    width:1200px;
    height:100%;
    margin:0 auto;
}
.jz2 .title,.jz3 .title{
    margin-top:38px;
    font-size: 36px;
    color:#EBECEF;
}
.jz3 .title{
    margin-top: 180px;
}
.jz2 p,.jz3 p{
    color:#EBECEF;
    letter-spacing:2px;
}
.jz2 a{
    margin-top:20px;
}
.log_s{
    margin-top:116px;
}
.showmore,.down_liji{
    width:154px;
    height:52px;
    background:#359DFE ;
    text-align: center;
    line-height: 52px;
    margin-top:64px;
    border-radius: 3px;
}
.down_liji{
    background: #fff;
}
.down_liji a{
    color:#2F90EE;
    padding: 18px;
    font-weight: bold;
    font-size: 18px;
}
.down_liji:hover{
    background: #EAEAEA;
    cursor: pointer;
}
.showmore:hover{
    background: #2295FF;
    cursor: pointer;
}
.showmore a{
    color:#fff;
}
.jz3{

}
.play{
    width:151px;
    margin:0 auto;
    margin-top:80px;
}
.play:hover{
    cursor: pointer;
    /*color:red;*/
}


.dd-video-dialog {
    position: fixed;
    z-index: 1001;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(16, 2, 2, 0.72);
}
.dd-video-dialog.hidden {
    display: none;
}
.dd-video-dialog .bg {
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.dd-video-dialog .wrap {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
}
.dd-video-dialog .wrap .video {
    width: 900px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.dd-video-dialog .wrap .video video {
    padding: 0px;
    margin: 0px;
}
.dd-video-dialog .wrap .video .close {
    height: 48px;
    width: 48px;
    position: absolute;
    right: -42px;
    top: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/close.png);
    /*background-image: -webkit-image-set(url(https://gw.alicdn.com/tps/TB1es2sNpXXXXcbapXXXXXXXXXX-48-48.png) 1x, url(https://gw.alicdn.com/tps/TB1zM6BNpXXXXXraXXXXXXXXXXX-96-96.png) 2x);*/
    background-repeat: no-repeat;
    background-position: center 0px;
}
.dd-video-dialog .wrap .video .close:hover {
    background-image: url(../img/close1.png);
    /*background-image: -webkit-image-set(url(https://gw.alicdn.com/tps/TB1yj2nNpXXXXacaFXXXXXXXXXX-48-48.png) 1x, url(https://gw.alicdn.com/tps/TB1xc_RNpXXXXa.XFXXXXXXXXXX-96-96.png) 2x);*/
}




/*下载开始*/
.download{
    height:496px;
    overflow: hidden;
    position: relative;
}
.down_main{
    width:1200px;
    height:100%;
    margin:0 auto;
    /*border:1px solid red;*/
}
.down_erweima{
    width:248px;
    height:248px;
    float:left;
    margin-left: 248px;
    margin-top: 114px;
}
.down_info {
    float: right;
    width: 620px;
    margin-top: 124px;
}
.down_info h3{
    font-size: 34px;
}
.down_info ul{
    overflow: hidden;
}
.down_info li{
    float:left;
    margin-right:24px;
    line-height: 60px;
}
.down_info li span{
    font-size: 18px;
}
.lbzAPP{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}
.lbzAPP1{
    font-size: 18px;
    margin-top:16px;
}


/*footer开始*/
.footer{
    width:100%;
    height:142px;
    background-color:#162635;
    padding-top:1px;
    position: relative;
    /*overflow: hidden;*/
}
.zhuangshi{
    width:1200px;
    height:94px;
    position: absolute;
    left: 0;
    right:0;
    bottom:104px;
    margin:auto;
}
.zhuangshi span{
    padding:0;
}
.zhuangshi span:nth-child(1){
    position: absolute;
    left: -16px;
    bottom: 33px;
}
.zhuangshi span:nth-child(2){
    position: absolute;
    left:86px;
    bottom: 26px;
}
.zhuangshi span:nth-child(3){
    position: absolute;
    left:246px;
    bottom: 26px;
}
.zhuangshi span:nth-child(4){
    position: absolute;
    left:464px;
    bottom: 22px;
}
.zhuangshi span:nth-child(5){
    position: absolute;
    left:580px;
    bottom: -6px;
    animation: qiqiu 3s infinite;
    -webkit-animation: qiqiu 3s infinite;
    -ms-animation:qiqiu 3s infinite;
}
@keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-webkit-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
@-ms-keyframes qiqiu {
    0% {bottom:-6px;}
    50% {bottom:10px;}
    100%{bottom:-6px}
}
.returnTop:hover{
    cursor:pointer;
}
.zhuangshi span:nth-child(6){
    position: absolute;
    left:710px;
    bottom: 26px;
}
.zhuangshi span:nth-child(7){
    position: absolute;
    left:850px;
    bottom: 33px;
}
.zhuangshi span:nth-child(8){
    position: absolute;
    left:970px;
    bottom: 28px;
}
.zhuangshi span:nth-child(9){
    position: absolute;
    left:1060px;
    bottom:66px;
}
.zhuangshi span:nth-child(10){
    position: absolute;
    right:-6px;
    bottom: 33px;
}
.zhuangshi span:nth-child(11){
    position: absolute;
    right: 66px;
    bottom: 66px;
}
.rexian{
    width:756px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    font-size: 14px;
    margin-top:54px;
    position: relative;
}
.beian{
    color: #3A668F;
}
.rexian a{
    color:#fff;
}
.rexian span{
    display:inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.weixinPic .weixinerweima{
    position: absolute;
    bottom: 56px;
    right: 88px;
    display:none;
}
